* {
  box-sizing: border-box;
  color: #a6a6a6;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

a:hover,
a:hover > i {
  text-decoration: none;
  color: white;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 52px;
  letter-spacing: 1.5px;
}

h2 {
  font-weight: bold;
  padding: 15px 0;
  text-transform: capitalize;
}

/*  NAVIGATION SECTION */

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 20px 30px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav > a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.25;
  cursor: pointer;
}

nav > a:first-of-type:hover {
  color: #fff
}

nav > a:hover {
  color: #a6a6a6;
}

nav ul {
  display: flex;
  list-style: none;
  margin: auto 0;
  display: none;
}

.toggleMenu {
  position: absolute;
  left: 0;
  top: 77px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.7s linear 0.1s;
}

nav ul li a {
  color: #a6a6a6;
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 1rem;
  font-weight: 700;
}

nav ul li:last-child > a {
  padding-right: 0;
}

nav .menu-icon {
  cursor: pointer;
}

.homeBurger {
  position: relative;
  display: block;
  top: 11px;
  width: 25px;
  height: 2px;
  background-color: #ddd;
}

.homeBurger::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 2px;
  box-shadow: 0 8px 0 0 #ddd, 0 16px 0 0 #ddd;
}

/********************************************************/

/****************  START HOME SECTION   *****************/

.home {
  background-image: url("../../images/joshua-aragon-FGXqbqbGt5o-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ddd;
  z-index: 0;
}

.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8);
  z-index: -1;
}

.home .wrapper {
  position: absolute;
  top: 77.5px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home .profil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 90%;
  z-index: 222;
}

.home img {
  border: 8px solid #555555;
  border-radius: 50%;
  width: 200px;
}

.home h1 {
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center; /*FOR MOBILE SCREEN, TO PREVENT TEXT TO LEFT*/
}

.home h2 {
  padding: 0;
  margin: 0;
}

.home span {
  position: relative;
  overflow: hidden;
  display: inline-block;
  letter-spacing: 1.5px;
  height: 50px;
}

.home .profession::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 120%;
  width: 3px;
  background-color: #a6a6a6;
}

.home h2 .profession {
  transition: width 0.5s ease-in-out;
  display: inline-block;
  position: relative;
}

.home h2 .profession b {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.home h2 .profession .active {
  visibility: visible;
  opacity: 1;
}

.home-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  width: 100%;
  padding: 0 30px;
}

.home-footer .rigths {
  margin: 0;
  display: none;
}

.home-footer .social-medias a {
  color: #a6a6a6;
  padding: 0 7px;
  cursor: pointer;
}

.home-footer .social-medias a i {
  font-size: 25px;
  cursor: pointer;
}

.home-footer .social-medias a i:hover {
  cursor: pointer;
}

/*  Media Queries Width & Conatiner
xm: <576px container width = auto
sm: >= 576px container width = 540
sm: >= 768px  container width = 720
sm: >= 992px  container width = 960
sm: >= 1200px container width = 1140 
*/

@media (min-width: 576px) {
  .home-footer {
    justify-content: space-between;
  }

  .home-footer .rigths {
    display: block;
  }
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
  }

  nav .menu-icon {
    display: none;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/********************************************************/

@keyframes pushIt {
  0% {
    width: 0;
  }
  50% {
    width: 180px;
  }
  100% {
    width: 0;
  }
}

/*********  STRAT ABOUT SECTION  *********/

h1,
h2,
h3 {
  color: #ddd;
}

p {
  color: #a6a6a6;
}

.about,
.works,
.contact {
  background-color: #111;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about .container-section,
.about .skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.about .container-section h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 52px;
  letter-spacing: 1.5px;
}

.about .container-section > div {
  padding: 30px 0;
}

.about .container-section .about-resume {
  display: flex;
  flex-direction: column;
}

.about .container-section .about-resume .image {
  margin-bottom: 2rem;
}

.about .container-section .about-resume .image img {
  width: 100%;
  height: auto;
  border: solid 8px #414141;
}

.about .container-section .about-resume .resume h3 {
  font-size: 25px;
  font-weight: bold;
}

.about .container-section .about-resume .resume p {
  line-height: 2;
  margin: 0;
  letter-spacing: 0.4px;
}

.about .container-section .about-resume .resume hr {
  background-color: #a6a6a6;
  opacity: 0.5;
  margin: 40px 0 30px;
}


.about .container-section .about-resume .resume .informations > div {
  flex-basis: 50%;
}

.about .container-section .about-resume .resume .informations span {
  font-weight: bold;
  padding-right: 4px;
  text-transform: capitalize;
}

.about .container-section .about-resume .resume .informations p a{
  color: inherit
}

.about .container-section .about-resume .resume .informations p a:hover{
  color: #fff
}

.about .container-section .about-resume .resume .buttons {
  display: flex;
  margin-top: 20px;
}

.about .container-section .about-resume .resume .buttons a {
  text-decoration: none;
  background-color: #111;
  padding: 6px 30px;
  border: 2px solid #a6a6a6;
  border-radius: 20px;
  color: #a6a6a6;
  text-transform: uppercase;
  font-size: 14px;
}

.about .container-section .about-resume .resume .buttons a:first-child {
  margin-right: 15px;
}

.about .container-section .career {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .container-section .career > div {
  /* flex-basis: 50%; */
  margin: 1rem 0;
}

.about .container-section .career h2 {
  font-weight: bold;
  padding: 15px 0;
  text-transform: capitalize;
}

.about .container-section  .career .experience a{
  text-decoration: underline;
  color: #fff;
  transition: all .3s ease;
}

.about .container-section .career > div div {
  position: relative;
  padding: 0 0 30px 30px;
}

.about .container-section .career > div div::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #111;
  border: solid 2px #a6a6a6;
  border-radius: 50%;
  z-index: 2;
}

.about .container-section .career > div div::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 1px;
  height: 100%;
  background-color: #a6a6a6;
}

.about .container-section .career div span i {
  padding-right: 7px;
}

.about .container-section .skills {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.about .container-section .skills .lang-skills{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 30px 0;
}


.about .container-section .skills .lang-skills i{
  font-size: 8rem;
  padding: .75rem;
}

/* .about .skills-container .skills > div {
  padding: 10px 0;
}

.about .skills-container .skills div > div {
  height: 7px;
  width: 100%;
  background-color: #a6a6a6;
  border-radius: 4px;
}

.about .skills-container .skills div > span {
  text-transform: uppercase;
}

.about .skills-container .skills div div p {
  height: 100%;
  background-color: #424242;
  border-radius: 3px;
  margin: 1rem 0 0 0;
  transition: width 1s ease;
  position: relative;
}

.about .skills-container .skills div div span {
  position: absolute;
  top: -37px;
  left: 93%;
  width: 32px;
  height: 23px;
  background-color: #424242;
  font-size: 14px;
  text-align: center;
} */

/********************************************************/

/**************** START WORKS SECTION *************/

.works {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.works .container-section {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works .container-section .works-container {
  display: flex;
  justify-content: center;
  /* flex-basis: 95%; */
  flex-wrap: wrap;
  position: relative;
  padding: 0;
}

.works-container .project {
  margin: 1rem 0;
}


.works-container .project img {
  width: 100%;
  height: auto;
  border: 2px solid gray
}

.works-container .project .links > * {
  text-decoration: underline;
  color: #fff;
  font-size: 1.2rem;
  transition: all .3s ease;
}

.works-container .project .links > *:hover{
  color: inherit
}




/**************** END WORKS SECTION *************/

/**************** START CONTACT SECTION *************/

.contact {
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact .wraper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact .contact-container {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.contact .contact-container .contact-form {
  flex-basis: 58%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.contact .contact-container .contact-form div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.contact .contact-container .contact-form div:first-child > input:first-child {
  margin-bottom: 15px;
}

.contact .contact-container .contact-form form {
  width: 100%;
}

.contact .contact-container .contact-form form > div {
  margin: 15px 0;
}

.contact .contact-container .contact-form form input,
.contact .contact-container .contact-form form textarea {
  background-color: transparent;
  border-color: #4f4f4f;
  transition: all 0.5s ease;
  width: 100%;
  height: 45px;
  padding: 7px 10px;
  outline: none;
  border: 1px solid #4f4f4f;
}

.contact .contact-container .contact-form form input:focus,
.contact .contact-container .contact-form form textarea:focus {
  border: 1px solid #a6a6a6;
}

.contact .contact-container .contact-form form textarea {
  height: 200px;
}

.contact .contact-container .contact-form form input[type="submit"] {
  width: auto;
  height: 35px;
  padding: 0 30px;
  border: 2px solid #a6a6a6;
  border-radius: 20px;
  text-transform: uppercase;
}

.contact .contact-container .contact-info {
  flex-basis: 42%;
}

.contact .contact-container .contact-info > p {
  margin-bottom: 1.5rem;
}

.contact .contact-container .contact-info .contact-links > div {
  display: flex;
  margin-bottom: 0.5rem;
}

.contact .contact-container .contact-info .contact-links > div:first-child a {
  color: inherit;
}

.contact
  .contact-container
  .contact-info
  .contact-links
  > div:first-child
  a:hover {
  text-decoration: underline;
}
.contact .contact-container .contact-info .contact-links > div:last-child p {
  text-transform: capitalize;
}

.contact .contact-container .contact-info .contact-links div span.icon {
  width: 50px;
  height: 50px;
  border: 2px solid #4f4f4f;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
}

.contact .contact-container .contact-info .contact-links div span.icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact .contact-container .contact-info .contact-links > div div span {
  font-weight: bold;
  text-transform: capitalize;
}

.contact .google-map {
  width: 100%;
}

/*  Media Queries Width & Conatiner
xm: <576px container width = auto
sm: >= 576px container width = 540
sm: >= 768px  container width = 720
sm: >= 992px  container width = 960
sm: >= 1200px container width = 1140 
*/

@media (min-width: 576px) {
  .about .container-section {
    flex-basis: 80%;
  }

  .wraper .contact-container {
    flex-basis: 80%;
  }
}

@media (min-width: 768px) {
  .about .container-section {
    flex-basis: 90%;
  }

  .about .container-section .about-resume {
    flex-direction: row;
  }

  .about .container-section .about-resume .image {
    flex-basis: 40%;
    padding: 0 15px;
  }

  .about .container-section .about-resume .resume {
    flex-basis: 60%;
    padding: 0 15px;
  }

  .about .container-section .career {
    flex-direction: row;
  }

  .about .container-section .career > div {
    flex-basis: 50%;
    padding: 0 15px;
  }

  .about .skills-container .skills {
    flex-direction: row;
  }

  .about .skills-container .skills > div {
    flex-basis: 50%;
    padding: 0 15px;
    margin: 10px auto;
  }

  .works .container-section {
    flex-basis: 90%;
  }

  .contact .contact-container{
    flex-direction: row
  }

  .wraper .contact-container {
    flex-basis: 90%;
  }

  .contact .contact-container > div {
  padding: 20px 10px;
}

.contact .contact-container .contact-info > p {
    
    margin-top: 1rem;
}

.contact .contact-container .contact-form {
  flex-basis: 58%;
}

@media (min-width: 992px) {

  .about .skills-container .skills > div {
    padding: 0 20px;
    margin: 15px auto;
  }

  .contact .contact-container > div {
    padding: 20px 25px;
  }
}